[Unit]
Description=Deployer Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/projects/luna
ExecStart=/usr/bin/node /root/projects/luna/deployer.js
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
